BACKENDBASE_SERVICE_NAME=backendbase
BACKENDBASE_ENV=dev
EXAMPLE_API_CORS_ORIGIN=http://127.0.0.1:8080
BACKENDBASE_LOGGER_HANDLER=stream
BACKENDBASE_LOGGER_LEVEL=debug
BACKENDBASE_DB_DSN=mysql://backendbase_user:backendbase+dev-@127.0.0.1:3306/backendbase?charset=utf8mb4
BACKENDBASE_RABBITMQ_HOST=127.0.0.1
BACKENDBASE_RABBITMQ_PORT=5672
BACKENDBASE_RABBITMQ_USER=backendbase
BACKENDBASE_RABBITMQ_PASSWORD=backendbase
BACKENDBASE_RABBITMQ_VHOST=/
BACKENDBASE_RABBITMQ_QUEUE=backendbase-queue
BACKENDBASE_RABBITMQ_EXCHANGE=backendbase
BACKENDBASE_RABBITMQ_EXCHANGE_TYPE=direct
BACKENDBASE_RABBITMQ_CONNECTION_TIMEOUT=3
BACKENDBASE_RABBITMQ_READ_WRITE_TIMEOUT=35
BACKENDBASE_RABBITMQ_HEARTBEAT=15
BACKENDBASE_RABBITMQ_PREFETCH_COUNT=1
BACKENDBASE_QUEUE_DRIVER=rabbitmq
BACKENDBASE_REDIS_HOST=127.0.0.1
BACKENDBASE_REDIS_PORT=6379
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-central-1
AWS_ENDPOINT=
AWS_SQS_QUEUE=backendbase-queue
AWS_SQS_QUEUE_URL=
AWS_SNS_SMS_TYPE=Transactional
AWS_SNS_SENDER_ID=
OBJECT_STORE_ACCESS_KEY=
OBJECT_STORE_SECRET_KEY=
OBJECT_STORE_REGION=eu-central-1
OBJECT_STORE_ENDPOINT=
BUCKET_NAME=backendbase-v3
CDN_BASE_URL=
BACKENDBASE_DEV_AWS_PORT=5000
BACKENDBASE_JWT_SIGN_KEY=random-sign-key
EXAMPLE_API_KEY=local-api-key
