BACKENDBASE_SERVICE_NAME=backendbase
BACKENDBASE_ENV=dev
EXAMPLE_API_CORS_ORIGIN=http://127.0.0.1:8080
BACKENDBASE_LOGGER_HANDLER=stream
BACKENDBASE_LOGGER_LEVEL=debug
BACKENDBASE_DEV_MYSQL_PORT=3306
BACKENDBASE_DEV_MYSQL_ROOT_PASSWORD=backendbase_root!
BACKENDBASE_DEV_MYSQL_DATABASE=backendbase
BACKENDBASE_DEV_MYSQL_USER=backendbase_user
BACKENDBASE_DEV_MYSQL_PASSWORD=backendbase+dev-
BACKENDBASE_DB_DSN=mysql://backendbase_user:backendbase+dev-@127.0.0.1:3306/backendbase?charset=utf8mb4
BACKENDBASE_DEV_RABBITMQ_PORT=5672
BACKENDBASE_DEV_RABBITMQ_MANAGEMENT_PORT=15672
BACKENDBASE_DEV_RABBITMQ_USER=backendbase
BACKENDBASE_DEV_RABBITMQ_PASSWORD=backendbase
BACKENDBASE_DEV_RABBITMQ_VHOST=/
BACKENDBASE_RABBITMQ_HOST=127.0.0.1
BACKENDBASE_RABBITMQ_PORT=5672
BACKENDBASE_RABBITMQ_USER=backendbase
BACKENDBASE_RABBITMQ_PASSWORD=backendbase
BACKENDBASE_RABBITMQ_VHOST=/
BACKENDBASE_RABBITMQ_QUEUE=backendbase-queue
BACKENDBASE_RABBITMQ_EXCHANGE=backendbase
BACKENDBASE_RABBITMQ_EXCHANGE_TYPE=direct
BACKENDBASE_RABBITMQ_CONNECTION_TIMEOUT=3
BACKENDBASE_RABBITMQ_READ_WRITE_TIMEOUT=35
BACKENDBASE_RABBITMQ_HEARTBEAT=15
BACKENDBASE_RABBITMQ_PREFETCH_COUNT=1
BACKENDBASE_QUEUE_DRIVER=rabbitmq
BACKENDBASE_DEV_REDIS_PORT=6379
BACKENDBASE_DEV_REDIS_INSIGHT_PORT=8001
BACKENDBASE_REDIS_HOST=127.0.0.1
BACKENDBASE_REDIS_PORT=6379
BACKENDBASE_DEV_AWS_PORT=4566
BACKENDBASE_DEV_CDN_PORT=8081
BACKENDBASE_DEV_STACKPORT_PORT=8082
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=eu-central-1
AWS_ENDPOINT=http://127.0.0.1:4566
AWS_SQS_QUEUE=backendbase-queue
AWS_SQS_QUEUE_URL=http://127.0.0.1:4566/000000000000/backendbase-queue
AWS_SNS_SMS_TYPE=Transactional
AWS_SNS_SENDER_ID=
BACKENDBASE_SMS_DRIVER=sns
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM=
TWILIO_TIMEOUT_SECONDS=5
NETGSM_USERNAME=
NETGSM_PASSWORD=
NETGSM_SENDER=
NETGSM_ENCODING=TR
NETGSM_TIMEOUT_SECONDS=5
BACKENDBASE_EMAIL_DRIVER=ses
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_ENCRYPTION=starttls
SMTP_TIMEOUT_SECONDS=5
FIREBASE_PROJECT_ID=
FIREBASE_CREDENTIALS_PATH=
FIREBASE_TIMEOUT_SECONDS=5
OBJECT_STORE_ACCESS_KEY=test
OBJECT_STORE_SECRET_KEY=test
OBJECT_STORE_REGION=eu-central-1
OBJECT_STORE_ENDPOINT=http://127.0.0.1:4566
BUCKET_NAME=backendbase-v3
CDN_BASE_URL=http://127.0.0.1:8081
BACKENDBASE_JWT_SIGN_KEY=random-sign-key
EXAMPLE_API_KEY=local-api-key
