parameters:
  level: 8
  tmpDir: ./artifacts/phpstan
  paths:
    - src/
    - tests/
    - config/
    - public/
    - bin/check-coverage.php
    - bin/tolgee/sync-support.php
    - resources/database/
